<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deftmove.profile">

    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".profile.ProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".edit.ProfileEditActivity"
            android:label="@string/activity_profile_edit_title"
            android:theme="@style/AppTheme.WithWhiteActionBar"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".publicprofile.PublicProfileActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
